.App {
    position: relative;
    text-align: center;
    background-color: #282c34;
    min-width: 720px;
}

.Content {
    position: absolute;
    text-align: center;
    top: 60%;
    width: 100%;
}

.Content-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .Content-logo {
        animation: Content-logo-spin infinite 20s linear;
    }
}

.Content-header {
    background-color: #282c34;
    min-height: 720px;
    min-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.Content-link {
    color: #61dafb;
}

@keyframes Content-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.bg-img {
    position: relative;
    height : 100%;
    width : 100%;
    min-width: 720px;
    top: 60px;
}
  