.App {
    position: relative;
    text-align: center;
    background-color: #282c34;
    min-width: 720px;
}

.bg-img {
    position: relative;
    height : 100%;
    width : 100%;
    min-width: 720px;
}

.app-container {
    background-color: #282c34;
}